name: recursive_tree_flutter
description: A tree-view package which focuses on tree data structure and displays it into UI.
version: 1.0.2
repository: https://github.com/gpmndev/recursive_tree_flutter

environment:
  sdk: '>=2.18.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
